<%= breadcrumb %>
<div id="locations">
<%- @locations.each do |location| %>
    <div class="btn btn-primary draggable" id="<%=location.id%>"><%=location.name%></div>
<%- end%>
</div>
<hr/>
<div id="drawing" style="width:100%;height:100%;">
<%= @map.html_safe %>
</div>

<%= javascript_include_tag "thecore_floorplan_designer/svg.min.js" %>
<%# <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script> %>
<script>
    let svg;
    let $dragging = null;
    let $startingX = null;
    let $startingY = null;
    let $draggableId = null;
    let $currentRect = null;

    if (SVG.supported) {
        // var draw = SVG('drawing').size('100%', '100%');
        SVG.select('svg').size('100%','100%');

        SVG.select('svg rect').on('mouseover', function(e) {
            // console.log(e.target.id);
            $currentRect = e.target.id;
            // $(`#${e.target.id}`).attr("id",`Prova-${Date.now()}`);
        });
        // SVG.select('svg rect').on('click', function(e) {
        //     console.log(e.target.id);
        //     // $(`#${e.target.id}`).attr("id",`Prova-${Date.now()}`);
        // });
    } else {
        alert('SVG not supported');
    }
</script>
<script>
$(document).ready(function() {

    $(document.body).on("mousemove", function(e) {
        if ($dragging) {
            $dragging.show();
            $dragging.offset({
                top: e.pageY,
                left: e.pageX
            });
        }
    });
    
    $(document.body).on("mousedown", ".draggable", function (e) {
        
        $dragging = $(e.target).clone().hide().appendTo("#locations");
        $startingX = $dragging.pageX;
        $startingY = $dragging.pageY;
        $draggableId = e.target.id;
    });
    
    $(document.body).on("mouseup", function (e) {
        console.log($currentRect);
        console.log(e.target.id);
        if($currentRect && e.target.id) {
            $.get('<%=rails_admin.send("#{action_name}_path")%>', {
                rectid: $currentRect,
                location_id: e.target.id
            }).then(barcodeScannedSuccess).fail(barcodeScannedFailure);
        }
        $dragging.remove();
        $dragging = null;
        $startingX = null;
        $startingY = null;
        $draggableId = null;
        $currentRect = null;
    });
});
</script>